@{
    ViewData[ "Title" ] = "Registration Successful";
}

<div class="text-center">
    <h1 class="display-4">Congratulations!</h1>
    <p>You have successfully registered.</p>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Go to Home</a>
</div>