@model RegisterModel

@{
    ViewData[ "Title" ] = "Register";
}

<form method="post">
    <div class="mb-3">
        <label asp-for="Username" class="form-label">
            @Html.DisplayNameFor( m => m.Username )
            <span class="required">*</span>
        </label>
        <input asp-for="Username" class="form-control" placeholder="Enter username">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Email" class="form-label">
            @Html.DisplayNameFor( m => m.Email )
            <span class="required">*</span>
        </label>
        <input asp-for="Email" class="form-control" placeholder="name@example.com">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label">
            @Html.DisplayNameFor( m => m.Password )
            <span class="required">*</span>
        </label>
        <input asp-for="Password" class="form-control" placeholder="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}